@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.fundo {
  background-image: linear-gradient(45deg, black, #00a9c7);
  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
}

.calculadora {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 15px;
}

#resultado {
  background-color: white;
  height: 40px;
  width: 224px;
  margin: 5px;
  padding: 5px;
  font-size: 25px;
  color: black;
  text-align: right;
}

.fundo button {
  background-color: #1e1e1e;
  color: white;
  height: 50px;
  width: 50px;
  margin: 3px;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.fundo button:hover {
  background-color: black;
}